*{
	box-sizing: border-box;
}
body{
	font-family: "Time New Roma", cursive;
	font-size: 16px;
	color: #333;
	margin: 0;
}

header{
	background-image: radial-gradient(circle, #72d6c9, #54d1ed,
#7ac5ff, #bcb2fe, #f29cd9);
	height: 80px;
}

.logo{
	float: left;

}
nav ul{
	float: right;
} 
.clear{
	clear: both;
}
.nav-logo{
	color: #e00986; 
	font-size: 25px; 
	margin: 0; 
	padding-left: 15px; 
	float: left; 
	line-height: 80px;
}
nav ul {
	list-style-type: none;
	float: right;
	margin: 0;
	padding: 0;
	text-align: center; 
}
nav ul li { 
	display: inline-block; 
	position: relative;
	width: 150px;
}
a{
	text-decoration: black;
	line-height: 80px;
	padding: 0 10px;
	display: block;
}
nav ul li a:hover { 
	color: #fff; 
	transition-duration: 2s;
}

nav ul ul{
	background-image: radial-gradient(circle, #72d6c9, #54d1ed, #7ac5ff, #bcb2fe, #f29cd9); 
	text-align: left; 
	width: 100%; 
	border: 1px solid #e00986;
	display: none;
}
nav ul ul li{
	display: block;
}
nav ul li:hover ul{
	display: block;
	position: absolute;
	z-index: 1;
}
.hero-section {
	background-image: url(https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=648&q=80);
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.slogan{
	width: 80%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.slogan h2{
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 20px;
}
.slogan h2 span{
	color: #e00986;
}
.yellow-text{
	font-size: 40px;
	color: #fbb619!important;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px 20px;
}
.about-section { 
	width: 100%; 
	background-color: #f29cd9; 
}
.about-section h2 { 
	margin: 0; 
	padding: 20px; 
	font-size: 30px; 
} 

.about-section img { 
	margin: 10px auto 30px; 
	display: block;
}
.gallery-section{
	width: 100%;
	margin: 0 auto;
}

.gallery-section h2{
	margin: 0;
	padding: 10px;
	text-align: center;
	color: #66b8c4
}
.gallery-image{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.gallery-image img{
	display: flex; 
	width: 300px; 
	height: 200px; 
	object-fit: cover; 
	margin: 10px 10px; 
	border: 5px solid white; 
	-webkit-box-shadow: 4px 4px 24px 1px rgba(224,9,134,0.75); 
	-moz-box-shadow: 4px 4px 24px 1px rgba(224,9,134,0.75); 
	box-shadow: 4px 4px 24px 1px rgba(224,9,134,0.75); 
} 
.gallery-image img:hover 
{ 
	transform:scale(1.15); 
}